[submodule "admin-api"]
	path = admin-api
	url = https://github.com/AntonnyAGS/admin-api.git
	branch = main
[submodule "admin-client"]
	path = admin-client
	url = https://github.com/AntonnyAGS/admin-client.git
	branch = main
[submodule "user-api"]
	path = user-api
	url = https://github.com/AntonnyAGS/user-api.git
	branch = main
